*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2185d0;
    color: #000;
    width: 100%;
}

.img{
    padding: 20px;
}